body {
    background: #008000;
    font-family: arial, sans-serif;
}

#header {
    overflow: auto;
}

#header h3 {
    display: inline;
}

#scores {
    float: right;
}

#gamePane {
    width: 68%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#gameTable {
    height: 370px;
    position: relative;
}

#status {
    margin: 0px;
}

#status.active {
    color: #991114;
}

#trumpsUI,
#bidUI {
    text-align: center;
}

#trick {
    height: 370px;
}

.trickElement {
    background: none;
    border: 0px;
    display: inline;
}

.trickElement td {
    text-align: center;
    border: 0px;
}

#previousTrick {
    bottom: 0px;
    right: 5px;
    position: absolute;
}

#messagesPane {
    float: right;
    width: 32%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#messagesArea {
    background: #fafafa;
    height: 358px;
    max-height: 358px;
    border: 1px solid black;
    padding: 5px;
    overflow: hidden;
}

#messages {
    border-top: 1px solid black;
    padding-top: 5px;
}

#messages p {
    margin: 0 0 0.5em 0;
}

#hand {
    text-align: center;
    margin-top: 10px;
}

#instructions {
    background: #fafafa;
    border: 1px solid black;
    padding: 0 10px;
}

#footer-right {
    float: right;
}

table {
    background: #fafafa;
    border: 1px solid black;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid black;
    padding: 2px;
}

table th {
    background-color: #BEC8D1;
}

table th.active {
    background-color: #FFCCCC;
}

h1, h3 {
    margin: 5px 0;
}

*|*:-moz-any-link img, img[usemap], object[usemap] {
    border: 0px;
}