<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
 	   xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    					http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    
	<tx:annotation-driven/>
	<context:component-scan base-package="org.blim.whist"/>

    <http auto-config="true" use-expressions="true">
		<intercept-url pattern="/login" access="permitAll" />
		
        <intercept-url pattern="/css/**" filters="none" />
        <intercept-url pattern="/images/**" filters="none" />
        <intercept-url pattern="/js/**" filters="none" />
        
        <!-- Some specific security rules, twice because ant paths suck -->
        <intercept-url pattern="/players" access="hasRole('ROLE_ADMIN')" requires-channel="https" />
        <intercept-url pattern="/players/" access="hasRole('ROLE_ADMIN')" requires-channel="https" />
        <intercept-url pattern="/players/new" access="hasRole('ROLE_ADMIN')" requires-channel="https" />
        <intercept-url pattern="/players/new/" access="hasRole('ROLE_ADMIN')" requires-channel="https" />
        <intercept-url pattern="/players/delete" access="hasRole('ROLE_ADMIN')" requires-channel="https" />
        <intercept-url pattern="/players/delete/" access="hasRole('ROLE_ADMIN')" requires-channel="https" />

        <intercept-url pattern="/players/register" access="permitAll" requires-channel="https" />
        <intercept-url pattern="/players/register/" access="permitAll" requires-channel="https" />

        <intercept-url pattern="/**" access="hasRole('ROLE_USER')" requires-channel="https" />
        
        <form-login login-page="/login" authentication-failure-url="/login?error=true"/>
        <logout />
        <access-denied-handler error-page="/access-denied"/>
        <!-- Uncomment to limit the number of sessions a user can have >
        <session-management invalid-session-url="/timeout.jsp">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management-->
    </http>

    <authentication-manager>
        <authentication-provider ref="authenticationProvider" />
    </authentication-manager>

    <beans:bean id="userDetailsService" class="org.blim.whist.UserDetailsServiceImpl" />
  
    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" />

    <beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">  
	    <beans:property name="userPropertyToUse"><beans:value>username</beans:value></beans:property>
    </beans:bean>      
  
    <beans:bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userDetailsService" />
        <beans:property name="passwordEncoder" ref="passwordEncoder" />
        <beans:property name="saltSource" ref="saltSource" />
    </beans:bean>      
    
</beans:beans>
